CompileFlags:
  Compiler: C:/Qt/Tools/mingw1310_64/bin/g++.exe
  Add:
    - --gcc-toolchain=C:/Qt/Tools/mingw1310_64
    - -target
    - x86_64-w64-mingw32
    - -std=c++17
    # Qt first so <QtCore/qtconfigmacros.h> is found
    - -isystemC:/Qt/6.8.1/mingw_64/include
    - -IC:/Qt/6.8.1/mingw_64/include/QtCore
    - -IC:/Qt/6.8.1/mingw_64/include/QtGui
    - -IC:/Qt/6.8.1/mingw_64/include/QtWidgets
    - -IC:/Qt/6.8.1/mingw_64/include/QtXml
    # MinGW C++ standard library
    - -isystem
    - C:/Qt/Tools/mingw1310_64/lib/gcc/x86_64-w64-mingw32/13.1.0/include/c++
    - -isystem
    - C:/Qt/Tools/mingw1310_64/lib/gcc/x86_64-w64-mingw32/13.1.0/include/c++/x86_64-w64-mingw32
    - -isystem
    - C:/Qt/Tools/mingw1310_64/lib/gcc/x86_64-w64-mingw32/13.1.0/include/c++/backward
    # MinGW system C headers
    - -isystem
    - C:/Qt/Tools/mingw1310_64/lib/gcc/x86_64-w64-mingw32/13.1.0/include
    - -isystem
    - C:/Qt/Tools/mingw1310_64/lib/gcc/x86_64-w64-mingw32/13.1.0/include-fixed
    - -isystem
    - C:/Qt/Tools/mingw1310_64/x86_64-w64-mingw32/include
    - -DQT_CORE_LIB
    - -DQT_GUI_LIB
    - -DQT_WIDGETS_LIB
    - -DQT_XML_LIB
    - -DQT_VERSION_MAJOR=6
    - -DQT_VERSION_MINOR=8
    - -DQT_VERSION_PATCH=1
    - -DQT_VERSION=0x060801
    - -DQT_USE_QSTRINGBUILDER
    - -DQT_DEPRECATED_WARNINGS
    - -DQT_DISABLE_DEPRECATED_BEFORE=0x060000
    - -DUNICODE
    - -D_UNICODE
    - -D_WIN32
    - -D_WIN64